doctype html
html(ng-app='Protractor')
	head
		title= title
		link(rel='stylesheet' href='uikit/css/uikit.almost-flat.min.css')
	body
		block content
		script(src='angular/angular.min.js')
		script(src='js/app.js')